<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>LightTag</name>
  <summary xml:lang="en">a lightweight file tagging tool for Windows</summary>
  <summary xml:lang="de">ein leichtgewichtiges Datei-Tagging Tool für Windows</summary>
  <homepage>http://www.nanobyte.de/</homepage>
  <category>Utility</category>
  <feed-for interface="http://0install.de/feeds/LightTag.xml" />
  <group license="MIT/X Consortium License">
    <command name="run" path="LightTag.exe">
      <runner interface="http://0install.de/feeds/cli/cli.xml" />
    </command>
    <implementation version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://0install.de/files/hosted/lighttag-{version}.zip" type="application/zip" />
    </implementation>
  </group>
</interface>
