<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Git for Windows</name>
  <summary xml:lang="en">decentralized version control system</summary>
  <summary xml:lang="de">dezentrales Versionsverwaltungssystem</summary>
  <description xml:lang="en">Git is a powerful version control system aiming to be the fastest decentralized source code management tool on this planet.</description>
  <description xml:lang="de">Git ist ein mächtiges Versionsverwaltungssystem mit dem Ziel das schnellste denzentrale Quellcodeverwaltungstool auf diesem Planeten zu sein.</description>
  <icon href="https://git-for-windows.github.io/img/gwindows_logo.png" type="image/png" />
  <category>Development</category>
  <homepage>https://git-for-windows.github.io/</homepage>
  <needs-terminal />
  <feed-for interface="http://0install.de/feeds/msysgit.xml" />
  <group license="GPL v2 (GNU General Public License)">
    <requires interface="http://0install.de/feeds/PuTTY.xml">
      <environment name="GIT_SSH" insert="plink.exe" mode="replace" />
    </requires>
    <environment name="PATH" insert="bin" />
    <command name="git-bash" path="bin/sh.exe">
      <arg>--login</arg>
      <arg>-i</arg>
    </command>
    <command name="run" path="bin/git.exe" />
    <command name="gitk" path="bin/sh.exe">
      <arg>/bin/gitk</arg>
    </command>
    <command name="antiword" path="bin/antiword.exe" />
    <command name="astextplain" path="bin/sh.exe">
      <arg>/bin/astextplain</arg>
    </command>
    <command name="basename" path="bin/basename.exe" />
    <command name="bash" path="bin/bash.exe" />
    <command name="bison" path="bin/bison.exe" />
    <command name="bzip2" path="bin/bzip2" />
    <command name="bunzip2" path="bin/bzip2.exe">
      <arg>-d</arg>
    </command>
    <command name="c_rehash" path="bin/perl">
      <arg>/bin/c_rehash</arg>
    </command>
    <command name="cat" path="bin/cat.exe" />
    <command name="chmod" path="bin/chmod.exe" />
    <command name="cmp" path="bin/cmp.exe" />
    <command name="connect" path="bin/connect.exe" />
    <command name="cp" path="bin/cp.exe" />
    <command name="curl" path="bin/curl.exe" />
    <command name="cut" path="bin/cut.exe" />
    <command name="date" path="bin/date.exe" />
    <command name="diff" path="bin/diff.exe" />
    <command name="dirname" path="bin/dirname.exe" />
    <command name="docx2txt" path="bin/perl">
      <arg>/bin/docx2txt</arg>
    </command>
    <command name="dos2unix" path="bin/dos2unix.exe" />
    <command name="du" path="bin/du.exe" />
    <command name="grep" path="bin/grep.exe">
      <arg>-E</arg>
    </command>
    <command name="env" path="bin/env.exe" />
    <command name="expr" path="bin/expr.exe" />
    <command name="false" path="bin/false.exe" />
    <command name="find" path="bin/find.exe" />
    <command name="flex" path="bin/flex.exe" />
    <command name="gawk" path="bin/gawk.exe" />
    <command name="getcp" path="bin/getcp.exe" />
    <command name="gpg" path="bin/gpg.exe" />
    <command name="gpgsplit" path="bin/gpgsplit.exe" />
    <command name="gpgv" path="bin/gpgv.exe" />
    <command name="gpg-zip" path="bin/sh.exe">
      <arg>/bin/gpg-zip</arg>
    </command>
    <command name="grep" path="bin/grep.exe" />
    <command name="gunzip" path="bin/gunzip.exe" />
    <command name="gzip" path="bin/gzip.exe" />
    <command name="head" path="bin/head.exe" />
    <command name="id" path="bin/id.exe" />
    <command name="kill" path="bin/kill.exe" />
    <command name="less" path="bin/less.exe" />
    <command name="ln" path="bin/ln.exe" />
    <command name="ls" path="bin/ls.exe" />
    <command name="m4" path="bin/m4.exe" />
    <command name="md5sum" path="bin/md5sum.exe" />
    <command name="mkdir" path="bin/mkdir.exe" />
    <command name="msmtp" path="bin/msmtp.exe" />
    <command name="mv" path="bin/mv.exe" />
    <command name="openssl" path="bin/openssl.exe" />
    <command name="patch" path="bin/patch.exe" />
    <command name="pdfinfo" path="bin/pdfinfo.exe" />
    <command name="pdftotext" path="bin/pdftotext.exe" />
    <command name="perl" path="bin/perl.exe" />
    <command name="ps" path="bin/ps.exe" />
    <command name="rebase" path="bin/rebase.exe" />
    <command name="recodetree" path="bin/sh.exe">
      <arg>/bin/recodetree</arg>
    </command>
    <command name="rm" path="bin/rm.exe" />
    <command name="rmdir" path="bin/rmdir.exe" />
    <command name="rxvt" path="bin/rxvt.exe" />
    <command name="scp" path="bin/scp.exe" />
    <command name="sed" path="bin/sed.exe" />
    <command name="sh" path="bin/sh.exe" />
    <command name="sleep" path="bin/sleep.exe" />
    <command name="sort" path="bin/sort.exe" />
    <command name="split" path="bin/split.exe" />
    <command name="ssh" path="bin/ssh.exe" />
    <command name="ssh-add" path="bin/ssh-add.exe" />
    <command name="ssh-agent" path="bin/ssh-agent.exe" />
    <command name="ssh-keygen" path="bin/ssh-keygen.exe" />
    <command name="ssh-keyscan" path="bin/ssh-keyscan.exe" />
    <command name="tail" path="bin/tail.exe" />
    <command name="tar" path="bin/tar.exe" />
    <command name="tclsh" path="bin/tclsh.exe" />
    <command name="tclsh85" path="bin/tclsh85.exe" />
    <command name="tee" path="bin/tee.exe" />
    <command name="touch" path="bin/touch.exe" />
    <command name="tr" path="bin/tr.exe" />
    <command name="true" path="bin/true.exe" />
    <command name="uname" path="bin/uname.exe" />
    <command name="uniq" path="bin/uniq.exe" />
    <command name="unzip" path="bin/unzip.exe" />
    <command name="wc" path="bin/wc.exe" />
    <command name="which" path="bin/sh.exe">
      <arg>/bin/which</arg>
    </command>
    <command name="wish" path="bin/wish.exe" />
    <command name="wish85" path="bin/wish85.exe" />
    <command name="xargs" path="bin/xargs.exe" />
    <implementation arch="Windows-x86_64" version="{version}" released="{released}" stability="stable" local-path="PortableGit-{version}-64-bit">
      <command name="vim" path="share/vim/vim74/vim.exe" />
      <manifest-digest />
      <archive href="PortableGit-{version}-64-bit.tar.lzma" type="application/x-lzma-compressed-tar" />
    </implementation>
    <implementation arch="Windows-i486" version="{version}" released="{released}" stability="stable" local-path="PortableGit-{version}-32-bit">
      <command name="vim" path="share/vim/vim74/vim.exe" />
      <manifest-digest />
      <archive href="PortableGit-{version}-32-bit.tar.lzma" type="application/x-lzma-compressed-tar" />
    </implementation>
  </group>
</interface>
