<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.zh-CN/schema/injector/interface/interface.xsd http://0install.zh-CN/schema/zh-CNsktop-integration/capabilities http://0install.zh-CN/schema/zh-CNsktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Mozilla Firefox (Simplified Chinese)</name>
  <summary xml:lang="zh">Mozilla项目的免费网页浏览器</summary>
  <homepage>http://www.mozilla.com/</homepage>
  <icon href="http://0install.de/feed-icons/Mozilla_Firefox.ico" type="image/vnd.microsoft.icon" />
  <icon href="http://0install.de/feed-icons/Mozilla_Firefox.png" type="image/png" />
  <category>Network</category>
  <feed-for interface="http://0install.de/feeds/Mozilla_Firefox/zh-CN.xml" />
  <group langs="zh_CN" license="MPL (Mozilla Public License)">
    <implementation arch="Windows-*" version="{version}" released="{released}" stability="stable" main="firefox.exe">
      <manifest-digest />
      <recipe>
        <archive href="http://ftp.mozilla.org/pub/mozilla.org/firefox/releases/{version}/win32/zh-CN/Firefox%20Setup%20{version}.exe" type="application/x-7z-compressed" extract="core" />
        <archive href="http://0install.de/files/app-configs/Mozilla_Firefox.zip" type="application/zip" />
      </recipe>
    </implementation>
    <implementation arch="Linux-i686" version="{version}" released="{released}" stability="stable" main="run-mozilla.sh">
      <manifest-digest />
      <recipe>
        <archive href="http://ftp.mozilla.org/pub/mozilla.org/firefox/releases/{version}/linux-i686/zh-CN/firefox-{version}.tar.bz2" type="application/x-bzip-compressed-tar" extract="firefox" />
        <archive href="http://0install.de/files/app-configs/Mozilla_Firefox.zip" type="application/zip" />
      </recipe>
    </implementation>
    <implementation arch="Linux-x86_64" version="{version}" released="{released}" stability="stable" main="run-mozilla.sh">
      <manifest-digest />
      <recipe>
        <archive href="http://ftp.mozilla.org/pub/mozilla.org/firefox/releases/{version}/linux-x86_64/zh-CN/firefox-{version}.tar.bz2" type="application/x-bzip-compressed-tar" extract="firefox" />
        <archive href="http://0install.de/files/app-configs/Mozilla_Firefox.zip" type="application/zip" />
      </recipe>
    </implementation>
  </group>
</interface>
